html {
  background-color: Black;
  text-align: center;
}

.header h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

.download-link {
  color: Aquamarine;
  font-size: 16px;
}

.explanation h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.explanation p {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}
